.btn-info{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-success{
 color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-danger{
  color: #fff;
    background-color:red;
    border-color: red;
}